#wave {
  transform-origin: bottom;
  animation: waveUpAndDown 5s ease-in-out infinite alternate;
}

@keyframes waveUpAndDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
